.our-best {
    padding: 80px 0 110px;
    background: url('./img/paper-bg.png') center (center/cover) no-repeat;

    &__title {
        display: inline-block;
        margin: 0 auto;
        margin-bottom: 39px;
        color: #000;
    }
}

