.coffee__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: 10px;
    padding: 22px 0;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.65);

    * {
        font-size: 14px;
        line-height: 20px;
        color: #000
    }

    &-img {
        margin: auto;
    }

    &__info {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    &-price {
        align-self: flex-end;
        font-weight: 700;
    }
}